body{
    background:#292C33;
    color:white;
}
.canvas_container{
    max-width:calc(100vw - 300px);
    width:1024px;
}
.tools_container{
    width:300px;
    position: fixed;
    padding: 10px;
    right: 0;
    top: 0;
}
.toolbox--section{
    background: #434854;
    border:1px solid #767F94;
    padding:5px;
    border-radius: 5px;
    margin-top: 5px;
}
.toolbox--section input[type=file]{
    padding:5px;
}

.toolbox--section .toolbox--section--header{
    background:#767F94;
    padding:5px;
    display: block;
    border-radius: 5px;
    box-shadow:none;
}

.toolbox--button{
    background:#767F94;
    color:white;
    transition: background-color 0.1s;
    box-shadow:1px 1px 5px 0px #00000085;
}

.toolbox--button:hover{
    background:#8691aa;
}
.toolbox--button:active{
    background:#464b58;
}

.checkerboard{
    width: 100%;
    display: flex;
    justify-content: center;
}
.scrollable{
    overflow: auto;
}
.checkerboard .checkerboard-container{
    background-color: white;

    background-image:
    linear-gradient(45deg, lightgrey 25%, transparent 25%), 
    linear-gradient(135deg, lightgrey 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, lightgrey 75%),
    linear-gradient(135deg, transparent 75%, lightgrey 75%);

    background-size: 10px 10px;
    background-position: 0 0, 5px 0, 5px -5px, 0px 5px;
}

.checkerboard .checkerboard-container canvas {
    background: #5f6da085;
}
.modal-body{
    width: 300px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10050;
    background: #292C33;
    border-radius: 5px;
    padding:5px;
    text-align:center;
}

.modal{
    position: fixed;
    font-size: 12px;
    z-index: 10050;
}
.modal:before{
    content:'';
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    background: #a9b5d461;
    backdrop-filter: blur(8px);
}

#progress-text{
    font-size: 15px;
    padding: 20px;
}

.progress-hint{
    padding:20px;
}

progress::-moz-progress-bar { background: #A9B5D4; }
progress::-webkit-progress-value { background: #A9B5D4; }
progress { color: #A9B5D4; }

.animbuttons{
    font-size: 25px;
    text-align: center;
    width: 100%;
    display: block;
    padding: 2px;
    cursor: pointer;
    user-select: none;
    transition:transform 0.3s;
}
.animbuttons:hover{
    transform:scale(1.1);
}